version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: icalsynchub_app
    ports:
      - "8080:8080"
    volumes:
      - ../config.ini:/app/src/config.ini  # Mount the config file
      - ../calendar_urls.txt:/app/src/calendar_urls.txt  # Mount the calendar_urls file
      - ./webserver:/app/webserver       # Shared directory with Nginx
    networks:
      - app_network

  nginx:
    image: nginx:latest
    container_name: icalsynchub_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./webserver:/usr/share/nginx/html  # Serve files from the shared directory
    depends_on:
      - app
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
