version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: icalsynchub_app
    ports:
      - "8080:8080"
    expose:
      - "8080"
    networks:
      - app_network

  nginx:
    image: nginx:latest
    container_name: icalsynchub_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
